In [1]:
import pandas as pd
import numpy as np
from os import walk
names = ['squareId','timeInterval','countryCode','smsIn','smsOut','callIn','callOut','Internet']

In [ ]:
def aggragateRegion()

In [2]:
Nov = []
dir_ = '../data/raw/milan/sms-call-internet-mi/sms-call-internet-mi-Nov'
for _,_,file in walk(dir_):
    for f in file:
        data = pd.read_table(dir_+'/'+f,names = names)
        Nov.append(data)
    print('Reading Finished. There are '+str(len(Nov))+' files in all.')

Reading Finished. There are 30 files in all.

In [4]:
Nov[0].groupby

,squareId,timeInterval,countryCode,smsIn,smsOut,callIn,callOut,Internet
4842624,9999,1383346200000,49,NaN,NaN,NaN,0.144481,NaN

In [5]:
Nov[1].iloc[:1]

,squareId,timeInterval,countryCode,smsIn,smsOut,callIn,callOut,Internet
0,1,1383346800000,0,0.0273,NaN,NaN,NaN,NaN

In [9]:
tmp = pd.read_csv('../data/processed/grid2.csv',header = None)

In [16]:
tmp

,0,1,2,3,4,5,6,7,8
0,0,1,1383260400000,0,0.081363,NaN,NaN,NaN,NaN
1,1,1,1383260400000,39,0.141864,0.156787,0.160938,0.052275,11.028366
2,2,1,1383261000000,0,0.136588,NaN,NaN,0.027300,NaN
3,3,1,1383261000000,33,NaN,NaN,NaN,NaN,0.026137
4,4,1,1383261000000,39,0.278452,0.119926,0.188777,0.133637,11.100963
5,5,1,1383261600000,0,0.053438,NaN,NaN,NaN,NaN
6,6,1,1383261600000,39,0.330641,0.170952,0.134176,0.054601,10.892771
7,7,1,1383262200000,0,0.026137,NaN,NaN,NaN,NaN
8,8,1,1383262200000,39,0.681434,0.220815,0.027300,0.053438,8.622425
9,9,1,1383262800000,0,0.027300,NaN,NaN,NaN,NaN
10,10,1,1383262800000,39,0.243378,0.192891,0.053438,0.080738,8.009927
11,11,1,1383263400000,0,0.027300,NaN,NaN,NaN,NaN
12,12,1,1383263400000,39,0.056388,0.243378,0.027300,0.027300,8.118420
13,13,1,1383264000000,0,0.029712,NaN,NaN,0.003575,NaN
14,14,1,1383264000000,39,0.135339,0.084937,0.053438,0.001787,8.026270
15,15,1,1383264600000,0,0.027300,NaN,NaN,NaN,NaN
16,16,1,1383264600000,39,0.188777,0.026137,0.001787,0.054601,8.514179
17,17,1,1383265200000,39,0.242215,0.160314,0.108039,0.026137,6.833425
18,18,1,1383265800000,0,0.027300,NaN,NaN,0.027300,NaN
19,19,1,1383265800000,39,0.294490,0.245704,0.027300,0.080738,6.554605
20,20,1,1383266400000,0,0.026137,NaN,NaN,NaN,NaN
21,21,1,1383266400000,39,0.108039,0.108039,NaN,NaN,7.338716
22,22,1,1383267000000,0,0.027300,NaN,NaN,NaN,NaN
23,23,1,1383267000000,39,0.057013,0.144900,NaN,NaN,6.779705
24,24,1,1383267600000,39,0.139538,0.055225,NaN,NaN,7.192162
25,25,1,1383268200000,39,NaN,0.053438,NaN,0.027300,7.503314
26,26,1,1383268800000,39,0.027300,0.054601,0.027925,NaN,6.169534
27,27,1,1383269400000,0,0.027300,NaN,NaN,NaN,NaN
28,28,1,1383269400000,39,0.059963,0.056388,NaN,0.029088,7.605452
29,29,1,1383270000000,39,0.134176,0.053438,NaN,0.053438,6.569565
...,...,...,...,...,...,...,...,...,...
11728,11728,1,1385844600000,39,0.411012,0.536423,0.141950,0.375314,12.709888
11729,11729,1,1385844600000,41,0.026137,NaN,NaN,NaN,NaN
11730,11730,1,1385845200000,0,0.052275,NaN,NaN,NaN,NaN
11731,11731,1,1385845200000,39,0.688963,0.641511,0.295738,0.216163,13.160113
11732,11732,1,1385845800000,0,0.078412,NaN,NaN,NaN,NaN
11733,11733,1,1385845800000,39,0.700140,0.964918,0.243378,0.159775,16.107450
11734,11734,1,1385846400000,0,0.108039,0.001787,NaN,NaN,NaN
11735,11735,1,1385846400000,373,0.026137,NaN,NaN,NaN,NaN
11736,11736,1,1385846400000,39,0.459712,0.612338,0.225638,0.108663,13.651816
11737,11737,1,1385846400000,40,0.027300,NaN,NaN,0.027300,NaN
11738,11738,1,1385847000000,0,0.081901,NaN,NaN,NaN,NaN
11739,11739,1,1385847000000,39,0.330188,0.193062,0.163888,0.159151,12.573044
11740,11740,1,1385847000000,40,0.026137,NaN,NaN,0.027300,NaN
11741,11741,1,1385847000000,46,NaN,NaN,NaN,NaN,0.026137
11742,11742,1,1385847600000,0,0.026137,NaN,NaN,NaN,NaN
11743,11743,1,1385847600000,39,0.436440,0.490502,0.109826,0.114564,11.654522
11744,11744,1,1385848200000,0,0.029088,NaN,NaN,NaN,NaN
11745,11745,1,1385848200000,39,0.973145,0.326528,0.089675,0.322500,12.177958
11746,11746,1,1385848200000,40,0.027300,0.027300,NaN,NaN,NaN
11747,11747,1,1385848800000,0,0.054601,0.003575,NaN,NaN,NaN
11748,11748,1,1385848800000,39,0.592016,0.492828,0.106337,0.135339,11.634019
11749,11749,1,1385848800000,46,NaN,NaN,NaN,NaN,0.026137
11750,11750,1,1385849400000,0,0.027925,NaN,NaN,NaN,NaN
11751,11751,1,1385849400000,39,0.436978,0.223851,0.080200,0.106876,14.433024
11752,11752,1,1385849400000,48,0.026137,NaN,NaN,NaN,NaN
11753,11753,1,1385850000000,39,0.222603,0.226801,0.191728,0.055225,13.308417
11754,11754,1,1385850600000,39,0.267189,0.137751,0.054601,0.083689,15.090108
11755,11755,1,1385850600000,46,NaN,NaN,NaN,NaN,0.026137
11756,11756,1,1385851200000,39,0.268977,0.376477,0.163803,0.107500,14.052018
11757,11757,1,1385851800000,39,0.193600,0.305753,0.106876,0.027925,12.715703

In [30]:
t = tmp.groupby([2])

In [31]:
t = t.sum()

In [32]:
tt = t.index

In [35]:
for i,time in enumerate(tt):
    if i == len(tt)-1:
        break
    if not tt[i+1] == time+600000:
        print('warning: missing time interval ',str(time+600000))